__pycache__
*~
*.swp
*.swn
*.swo
.DS_STORE
crowdfunder_project/crowdfunder_project/__pycache__/views.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/views.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/urls.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/models.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/urls.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/urls.cpython-37.pyc
crowdfunder_project/crowdfunder_project/__pycache__/views.cpython-37.pyc
