{% extends 'base.html'%}
{% block content %}

    <style>
        .project {
            border: 1px solid grey;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
        }

    </style>
 
    <h2>Home Page</h2>

    <ul>
        {% for project in projects %}
            <li class="project"> 
                <a href="{% url 'show_project' id=project.id %}">
                    <h3>{{ project.title}}</h3>
                </a>
                    <p>{{ project.description }}</p>
                    <p> {{ project.budget }}</p>
            </li> 
        {% endfor %}
    </ul>

            

{% endblock %}