{% extends 'base.html'%}
{% block title %} Punchstarter {% endblock %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<br>
<div class='project-title'>
<h1>Projects</h1>
</div>
<br>
{% for project in projects %}
<section class="project">
    <a href="{% url 'show_project' id=project.id %}">
            <img src="{{ project.image }}" alt="image of project">

        <div class='title'>
            <h3>{{ project.title}}</h3>
        </div>
    </a>
    <div class='description'>
        <p>{{ project.description }}</p>
    </div>
</section>
{% endfor %}




{% endblock %}