{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/profile_page.css' %}">
    <main class='profile'>
        <h2>My Projects</h2>
        {% for project in projects_own %}
            <li>
            <a href="{% url 'show_project' id=project.pk %}">{{ project.title }}</a>
            </li>
        {% endfor %}
            
        <h2>Projects backed by me</h2>
        {% for project in projects_backed %}
            <li>
                <a href="{% url 'show_project' id=project.pk %}">{{ project.title }}</a>
            </li>
        {% endfor %}
        
        <h3>Total Pledge</h3>
        <p> ${{ pledged_amount }}</p>

    </main>
{% endblock %}