{% extends 'base.html' %}
{% block content %} 
        <div class = "search_results">
        <h3>Search results: <span>{{ projects.count }}</span></h3>
        </div>

        <div class="all_projects">
                {% for project in projects %}
                        <a href="{% url 'show_project' id=project.id %}">
                        <img src="{{project.image}}" alt={{project.title}}>
                        <p>{{project.title}} by {{project.owner}}</p>
                        </a>
                {% endfor %}
        </div>        

{% endblock %}